.sidebar{
  background: #3f3d3d;
  width: 100px;
  overflow: hidden;
  transition: .2s;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  button {
    margin-top: 20px;
    margin-left: 18px;
    border: none;
    border-radius: 15px;
    width: 63px;
    cursor: pointer;
  }
  .active {
    background: #c2bdbd;
  }
  .content {
    display: flex;
    flex-direction: column;
    .item {
      padding: 10px 20px;
      position: relative;
      font-size: 20px;color: #f1f1f1;
      cursor: pointer;
      transition: .2s;
      &:hover {
        background: #000;
      }
    }
    .active {
      background: #000;
    }
    .hidden {
      visibility: hidden;
    }
  }
}
.open {
  width: 300px;
}